.stop-watch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

.timers-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.control-btns {
  height: 5vh;
}
