.timer-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: #f03e3e;
  padding: 5vh 0;
  position: relative;
}
